.transaction-history {
    width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .transaction-history thead {
    background-color: #00bcd4;
    color: white;
  }
  
  .transaction-history th, .transaction-history td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .transaction-history tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  